// base
.y-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: 500;
  border-radius: 4px;
  min-width: 60px;
}
.y-button::-moz-focus-inner {
  border: 0;
}
.y-button__innner,
.y-button__slot{
  display: flex;
  justify-content: center;
  align-items: center;
}

@each $size, $value in $font_size {
  .y-button__icon.#{$size}
  {
    width: $value;
    height: $value;
  }
}




.y-button.is-disabled{
  cursor: not-allowed;
}


// icon
.y-button [class*="y-button__icon"] + span {
  margin-left: 5px;
}

// general button

// color
@each $color, $value in $colors {
  .y-button.#{$color}
  {
    color: #fff;
    background-color: $value;
    border-color: $value;
  }
}

// foucs hover color
@each $color, $value in $focus_colors {
  .y-button.#{$color}:focus,
  .y-button.#{$color}:hover
  {
    color: #fff;
    background-color: $value;
    border-color: $value;
  }
}

// active color
@each $color, $value in $active_colors {
  .y-button.#{$color}:active
  {
    color: #fff;
    background-color: $value;
    border-color: $value;
    outline: 0;
  }
}

// disable color
@each $color, $value in $disabled_colors {
  .y-button.#{$color}.is-disabled,
  .y-button.#{$color}.is-disabled:active,
  .y-button.#{$color}.is-disabled:focus,
  .y-button.#{$color}.is-disabled:hover
  {
    color: #fff;
    background-color: $value;
    border-color: $value;
  }
}

// color
@each $color, $value in $plain_colors {
  .y-button.#{$color}.is-plain
  {
    color: $value;
    background-color: #fff;
    border-color: $value;
  }
}

// active color
@each $color, $value in $active_colors {
  .y-button.#{$color}.is-plain:active
  {
    color: #fff;
    background-color: $value;
    border-color: $value;
    outline: 0;
  }
}


@each $color, $value in $disabled_colors {
  .y-button.#{$color}.is-plain.is-disabled,
  .y-button.#{$color}.is-plain.is-disabled:active,
  .y-button.#{$color}.is-plain.is-disabled:focus,
  .y-button.#{$color}.is-plain.is-disabled:hover
  {
    color: $value;
    background-color: #fff;
    border-color: $value;
  }
}


// color
@each $color, $value in $colors {
  .y-button--text.#{$color}{
    color: $value;
  }
}

// focus,hover color
@each $color, $value in $focus_colors {
  .y-button--text.#{$color}:focus,
  .y-button--text.#{$color}:hover
  {
    color: $value;
  }
}


// active color
@each $color, $value in $active_colors {
  .y-button--text.#{$color}:active
  {
    color: $value;
  }
}

// disabled color
@each $color, $value in $disabled_colors {
  .y-button--text.#{$color}.is-disabled,
  .y-button--text.#{$color}.is-plain.is-disabled:active,
  .y-button--text.#{$color}.is-disabled:focus,
  .y-button--text.#{$color}.is-disabled:hover
  {
    color: $value;
  }
}



// loading
.y-button.is-loading {
  position: relative;
  cursor: not-allowed;
}
.y-button.is-loading:before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.35);
}

// is-round
.y-button.large.is-round{
  border-radius: 20px;
}
.y-button.medium.is-round{
  border-radius: 18px;
}
.y-button.small.is-round{
  border-radius: 16px;
}
.y-button.mini.is-round{
  border-radius: 14px;
}
// is-circle
.y-button.is-circle {
  min-width: 0;
  border-radius: 50%;
}
.y-button.large.is-circle{
  padding: 11px;
}
.y-button.medium.is-circle{
  padding: 9px;
}
.y-button.small.is-circle{
  padding: 8px;
}
.y-button.mini.is-circle{
  padding: 6px;
}


// font size
@each $color, $value in $font_size {
  .y-button.#{$color}
  {
    font-size: $value;
  }
}
// padding
.y-button.large{
  padding: 11px 16px;
}
.y-button.medium{
  padding: 9px 16px;
}
.y-button.small{
  padding: 8px 11px;
}
.y-button.mini{
  padding: 6px 11px;
}

