.y-switch {
  display: inline-block;
  font-size: 100%;
  position: relative;
  vertical-align: middle;
}
.y-switch .y-switch-style {
  left: 0;
  background: #C0CCDA;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.y-switch .y-switch-style:before {
  display: block;
  content: '';
  position: absolute;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.y-switch > input[type="checkbox"] {
  display: none;
}
.y-switch > input[type="checkbox"][disabled] + .y-switch-style {
  cursor: not-allowed;
  background-color: #D3DCE6;
}



@each $color, $value in $colors {
  .y-switch.#{$color} > input[type="checkbox"]:checked + .y-switch-style{
    background: $value;
  }
}

@each $color, $value in $disabled_colors {
  .y-switch.#{$color}.disabled > input[type="checkbox"]:checked[disabled] + .y-switch-style {
    background: $value;
  }
}

.y-switch.large,
.y-switch.large .y-switch-style{
  height: 24px;
  width: 48px;
}

.y-switch.medium,
.y-switch.medium .y-switch-style{
  height: 22px;
  width: 44px;
}

.y-switch.small,
.y-switch.small .y-switch-style{
  height: 20px;
  width: 40px;
}

.y-switch.mini,
.y-switch.mini .y-switch-style{
  height: 18px;
  width: 36px;
}

.y-switch.large .y-switch-style{
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.y-switch.medium .y-switch-style{
  -webkit-border-radius: 11px;
  border-radius: 11px;
}

.y-switch.small .y-switch-style{
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.y-switch.mini .y-switch-style{
  -webkit-border-radius: 9px;
  border-radius: 9px;
}


.y-switch.large .y-switch-style:before{
  height: 22px;
  width: 22px;
  top:1px;
  left: 2px;
}

.y-switch.medium .y-switch-style:before{
  height: 20px;
  width: 20px;
  top:1px;
  left: 2px;
}

.y-switch.small .y-switch-style:before{
  height: 18px;
  width: 18px;
  top:1px;
  left: 2px;
}

.y-switch.mini .y-switch-style:before{
  height: 16px;
  width: 16px;
  top:1px;
  left: 2px;
}


.y-switch.large > input[type="checkbox"]:checked + .y-switch-style:before {
  left: 24px;
}
.y-switch.medium > input[type="checkbox"]:checked + .y-switch-style:before {
  left: 22px;
}
.y-switch.small > input[type="checkbox"]:checked + .y-switch-style:before {
  left: 20px;
}
.y-switch.mini > input[type="checkbox"]:checked + .y-switch-style:before {
  left: 18px;
}

.y-switch-label-large{
  margin-right: 5px;
  font-size: 16px;
}
.y-switch-label-medium{
  margin-right: 5px;
  font-size: 16px;
}
.y-switch-label-small{
  margin-right: 5px;
  font-size: 14px;
}
.y-switch-label-mini{
  margin-right: 5px;
  font-size: 14px;
}

.switch-container{
  display: flex;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
