.border_bottom_left_right,
.border_bottom_middle_edge,
.border_bottom_edge_middle,
.border_bottom_top,
.border_left_right,
.border_right_left{
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  background-color: transparent;
  transition: 0.1s;
}
.border_bottom_left_right.is-focus,
.border_bottom_middle_edge.is-focus,
.border_bottom_edge_middle.is-focus,
.border_bottom_top.is-focus,
.border_left_right.is-focus,
.border_right_left.is-focus{
  border: 0;
  transition: 0.1s;
}
// border_bottom_left_right
.border_bottom_left_right .focus-border {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #3399ff;
  transition: 0.4s;
}
.border_bottom_left_right.is-focus .focus-border {
  width: 100%;
  transition: 0.4s;
}
// border_bottom_middle_edge
.border_bottom_middle_edge .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #3399ff;
  transition: 0.4s;
}
.border_bottom_middle_edge.is-focus .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}
// border_bottom_edge_middle
.border_bottom_edge_middle.is-focus .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 99;
}
.border_bottom_edge_middle .focus-border:before,
.border_bottom_edge_middle .focus-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transition: 0.4s;
  background-color: #3399ff;
}
.border_bottom_edge_middle .focus-border:after {
  left: auto;
  right: 0;
}
.border_bottom_edge_middle.is-focus .focus-border:before,
.border_bottom_edge_middle.is-focus .focus-border:after {
  width: 51%;
  transition: 0.4s;
}
// border_bottom_top
.border_bottom_top .focus-border {
  position: absolute;
  height: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;
  z-index: -1;
}
.border_bottom_top.is-focus .focus-border {
  transition: 0.4s;
  height: 28px;
  border: 1px solid #3399ff;
  border-radius: 4px;
  z-index: 1;
}
// border_left_right
.border_left_right .focus-border {
  position: absolute;
  height: 28px;
  bottom: 0;
  left: 0;
  width: 0;
  transition: 0.4s;
}
.border_left_right.is-focus .focus-border {
  width: 100%;
  transition: 0.4s;
  border: 1px solid #3399ff;
  border-radius: 4px;
}
// border_right_left
.border_right_left .focus-border {
  position: absolute;
  height: 28px;
  bottom: 0;
  right: 0;
  width: 0;
  transition: 0.4s;
}
.border_right_left.is-focus .focus-border {
  width: 100%;
  transition: 0.4s;
  border: 1px solid #3399ff;
  border-radius: 4px;
}
.has-transition label{
  position: absolute;
  left: 0;
  width: 100%;
  top: 7px;
  color: #aaa;
  transition: 0.4s;
  z-index: -1;
}
.has-transition.is-focus label{
  top: -20px;
  font-size: inherit;
  color: #3399ff;
  transition: 0.4s;
}