$colors: (
  "attention": #ffd53c,
  "danger": #ff533d,
  "info": #909396,
  "primary": #4083ff,
  "success": #29cc47,
  "warning": #ff9e42,
);

// alpha = 0.5
$disabled_colors: (
  "attention": #fff097,
  "danger": #ffab9a,
  "info": #a4a7ab,
  "primary": #86bdff,
  "success": #97e6a6,
  "warning": #ffdaa6,
);



// alpha = 0.2
$plain_background_colors:(
  "attention": #faf4d5,
  "danger": #fde2e2,
  "info": #e9e9eb,
  "primary": #d9ecff,
  "success": #e1f3d8,
  "warning": #faecd8,
);
$font_size: (
  "large": 16px,
  "default": 14px,
  "small": 12px,
);